/* ========== FONT ========== */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Permet de changer l'image selon le mode*/

.romance img[src*="love.png"] {
    content: url('images/coeur_dark.png');
}

.fight img[src*="bataille.png"] {
    content: url('images/bataille_dark.png');
}

header button img[src*="menu_icon.png"]{

    content: url('images/dark_menu_icon.png');

}

header button img[src*="../menu_icon.png"]{

    content: url('../images/dark_menu_icon.png');

}

/* ========== DESKTOP ========== */

@media (min-width : 1025px) {

    /* styling website body, removing default margin and padding and setting text font : common in ALL pages */

#topButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 1; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  background: none;
  font-size: 300%;
  color: #873174;
  opacity: 1;
}

#topButton:hover {
  color: #49193f ; 
}

body, .navbar button {
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One";
    font-style: normal;
    font-weight: 400;
    font-size:18px;
    line-height: normal;
}

/* padding-bottom avoids overlapping with footer, min-height adjusts based on header/footer heights */

main {
    width: 100%;
    padding: 0px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column; /* important */
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    overflow: hidden;
}

/* ========== HEADER ========== */

header {
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    z-index:1;
    background-color: #000000;
}

header h1{

    display : none ;

}

#menu_icon{

    display: none;

}

.theme_btns{

    display: none;
     
}

/* styling the navigation bar */

.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 65px;
}

/* removing the underlines of the links in .navbar and setting the text color to black */

.navbar a {
    color: rgb(255, 255, 255);       
    text-decoration: none;
}

.dropdown button{

    color: #ffffff;

}

/* styles the links in the class .navbar so they change colors when hovering over them */

.navbar a:hover{
    color: #873174;
}

/* .navbar > li:first-child selects only the li elements that are the direct children of .navbar and are the first child.
different from navbar li:first-child that selects any li that is the first child of its parent, anywhere inside .navbar
the selection will set spacings on the elements in the header*/

.navbar > li:first-child {                              
    margin-right: auto;
    margin-left: 30px;
}


.navbar .dark_button button{

    border : none ;
    font-size: 200%;
    color: #873174;
    background-color: #000000 ;
}

.navbar .dark_button button:hover{

    color: #a15f93;

}

.navbar .light_button{

    display: none;

}


/* styling the games button*/

.dropdown button {
    border: none;
    cursor: pointer;
    background: none;
    font-size: 18px;
}

.dropdown button:hover {
    color: #873174;
}

/* styling the dropdown frame, adding display: none; so the dropdown will only be visible when hovering over games */

.dropdown ul {
    position: absolute;
    display: none;
    background-color:rgb(0, 0, 0);
    width:218px;
    padding:0;
    margin:0;
    list-style:none;
    z-index:1;
    font-size: 17px;
}

.dropdown:hover ul {
    display: block;
}

/* styling the elements inside of the dropdown */

.dropdown a {
    padding:8px 12px;
    margin:0px;
    display:block;
    white-space: nowrap;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown a:hover {
    color:#ffffff;
    background-color: #873174;
}


/* adding padding to the first element of the dropdown for more clarity */

.dropdown li:first-child {
  padding-top: 20px;
}

/* adding a tiny animation that occurs when loading the page */

.navbar li {
    padding: 0 0.5em 0.25em;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

/* ========== MENU PAGE ========== */

.index{

    background-color: #000000;

}

.banner {
    position: relative;
    width: 100vw;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
    transition: transform 1.5s ease;
    overflow: hidden;
}

.banner h2{
    
    display: none;
    
}

.banner:hover {
    transform: scale(1.02);
}

/* Texte commun à toutes les captions */
.caption {
    color: white;
    font-size: 1.5vw;
    letter-spacing: 0.5%;
    text-align: right;
    background-color: transparent;
    position: absolute;
}
 

/* Position bottom-left */
.bottom-left {
    bottom: 15%;
    left: 10%;
    text-align: left;
}

.bottom-right {
    bottom: 15%;
    right: 10%;
    text-align: right;
}


/* ========== ABOUT WEBSITE PAGE ========== */

/* creates the frames of 4 images */

.square {
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.125rem;
    margin: 3.125rem auto;
    max-width: 100%;
}


/* border-top creates a line on top, border-bottom does the same on the bottom, and border-radius curves the edges */

.square-img {
    width: 30rem;  
    height: 20rem; 
    object-fit: cover; 
    align-items: center ;
    border-top: 2rem solid #873174;
    border-bottom: 1.75rem solid #873174;
    border-radius: 0.75rem;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    margin-top: 1.5rem;
    display: block;
}

.news {

  display : flex ;
  flex-direction : column ;
  align-items : center ;

}

.square h3{
    display: none;
}

.stars {
    max-height: fit-content;
    max-width: fit-content;
}



.aboutwebsite{
    align-self: center;
    text-align: center;
    align-items: center;
    background-image: url('images/dark_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(0.9) contrast(1);
    width: auto;
    max-width: 100%;
    color: white;
}

.aboutwebsite h2{
    margin-top: 5rem;
    margin-bottom: 3.125rem;

}

.aboutwebsite p{
    margin-left: center;
    display: block;
    line-height: 2;
    max-width: 80rem;
    margin-bottom: auto;

}

.aboutwebsite section{
    margin-top: 2.5rem;
}



.romance video{
    width: 15rem ;
    height: 27.75rem;
    margin-top: 2rem;
    float: left;
    margin-left: 10rem;
    margin-right: 30rem;
    width: 300px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-right: 65px;
    max-width: 100%;
}

.romance p{
    display: block;
    margin: 2rem auto;
    line-height: 2;
    max-width: 75rem;
    
}

  
.romance img{
    margin: 2rem auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 100%;
    
}

.romance img{
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 100%;
    
}

.fight video{
    width: 50rem;
    height: 25rem; 
    margin: 1.25rem auto;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    max-width: 100%;
}

.fight img{
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin: 1.25rem auto;
}

.fight p{
    margin: 1.25rem auto;
}


  
/* ========== ABOUT US PAGE ========== */


/* main */
.aboutussection{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/dark_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(0.9) contrast(1);
    padding-top: 3% ;
    color: white;
}

.aboutussection h1{

    justify-self: center;
    font-size: 30px;

}

.aboutussection p{

    max-width: 60%;
    text-align: center;

}
/* presentation */

.whoarewe {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}
.whoarewe h2{

    opacity: 0;

}

.whoarewe h3{

    opacity: 0;

}

.whoarewe img{

    max-width: 20%;
    max-height: 20%;
    min-width: 20%;
    min-height: 20%;

}

.whoarewe section:nth-child(odd){

    display: flex;
    align-items: center;
    margin-left: 45%;
    padding-bottom: 5%;

}

.whoarewe section:nth-child(even){

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 40%;
    padding-bottom: 5%;
}

.thanku{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;

}


/* QUESTION FORM */


.question-form {

    background: #873174;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
    justify-self: center;
}

.question-form h2 {
    margin-bottom: 20px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 10px;
    background-color: #CE87BB;
}

.question-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.question-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

.question-form .questionfield textarea{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 300px;

}

.question-form input,
.question-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    justify-self: center;
    resize: none;
}


.question-form button {
    padding: 10px 20px;
    background-color: #CE87BB;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.question-form button:hover {
    background-color: #ffa7e7;
}

/* ========== GAMES ========== */

.games{
    
    background-image: url('images/dark_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    display: flex;
    color: white;
}

.games h1{
    opacity: 0;
}

.games span {
    font-size: 40px;
    background-color: white;
    padding: 10px 15px;     
    margin: 0 auto 15px;    
    line-height: 1.5;
    width: fit-content;
    display: block;
    text-align: center;
    color: #000000;
}

.games h2{
    margin-top: 50px;
    margin-bottom: 55px;
    font-size: 40px;
    text-align: center;
}

.games p {
    max-width: 50vw;
    text-align: center;
    font-size: 17px;
    line-height: 1.6;
}

.ladsFeatures{

    display: flex;
    flex-direction: column;
    align-items: center;

}
.carousel{

    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding-right: 10%;

}

.carousel h3{

    display: none;

}

.carousel ul {

    background-color: #873174;
    border-radius: 50px;
    padding: 5%;
    list-style: none;
}

.card{

    display: none;

}

.card.active{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.card h4{

    font-weight: bolder;
    font-size: larger;

}

.card img{

    border-radius: 40px;

}

.cbtn{

    border: none;
    font-size: 250%;
    background-color: #ffffff00;
    color: white;
    cursor: pointer;
}

.cbtn:hover{

    color: #c451ab;

}

/* ========== FOOTER ========== */

footer {
    padding-top: 36px;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:0;
    position: relative;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
    color: white;
}


footer a {
    color: white;
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 1%;
}


footer a:hover {
    color: #873174;
}

footer p{

    padding-top: 1%;
}

footer img{

    max-height: fit-content;
    max-width: fit-content;

}

.questions {

    padding-bottom: 2%;
}

.faboutus {

    padding-bottom: 5%;

}
    
}


    /* ========== MOBILE ========== */
@media (max-width : 450px) {

    header {
    padding: 2vw;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    z-index:1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 10vw;
    background-color: #000000;
    color: white !important;
    align-self: center;
    gap: 2vw;
    max-width: 100vw;

    }

    header h1 {

        display: contents;
        color: white;
        align-self: center;
        opacity: 100%;
    }

    header button{

        display: contents;
        padding-right: 20vw;
        opacity: 100%;

    }

   

    header button img{

        min-width: 10vw;
        max-width: 10vw;

    }

    header .navbar {

        display: none;

    }

    nav{

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 5%;

    }

    .theme_btns{

        display: flex;
        flex-direction: row;
        list-style-type: none;
         
    }

    .theme_btns .dark_button button{

        border : none ;
        font-size: 180%;
        color: #873174;
    }

    .theme_btns .dark_button button:hover{

        color: #a15f93; ;

    }

    .theme_btns .light_button{

        display: none;

    }

    :modal {

        background: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        gap: 20%;
        color: white;
        opacity: 100%;

    }

    :modal a{

        text-decoration: none;
        border : 1px solid 873174 ;

    }

    :modal li {

        display: flex;
        flex-direction: row;
        align-items: center;


    }

    :modal li img {

        max-width: 15%;
        max-height: 15%;

    }

    :modal li img[src*="menu_icon.png"]{

        content: url('images/dark_menu_icon.png');

    }

    :modal li img[src*="../menu_icon.png"]{

        content: url('../images/dark_menu_icon.png');

    }

    :modal button{

        display: flex;
        align-items: center;
        border: none;
        background: none;
    }

    :modal button img{

        max-width: 20%;
        max-height: 20%;

    }

    :modal button {

        font-family: "Julius Sans One";
        font-style: normal;
        font-weight: 400;
        font-size:18px;
        color: white;
        display: inline;
        


    }

    dialog { 

        border : none;
        position: fixed;
        background-color: #000000;
        top: 0;
        left: 0;
        color: #873174;
        opacity: 100%;

    }

    

    #games_dropdown{

        display: none;

    }

    #games_dropdown:target{

        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: #000000;

    }

    #mobile_menu ul {

        list-style-type: disc;

    }

    #topButton {
       display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 1; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        background: none;
        font-size: 300%;
        color: #873174;
        opacity: 1;
    }

#topButton:hover {
  color: #49193f ; 
}

    /* styling website body, removing default margin and padding and setting text font : common in ALL pages */

    body, .navbar button {
        margin: 0;
        padding: 0;
        font-family: "Julius Sans One";
        font-style: normal;
        font-weight: 400;
        font-size:18px;
        line-height: normal;
        color: white !important;
        background-color: #000000;
    }

    /* ========== MENU PAGE ========== */

.banner {
    position: relative;
    width: 100vw;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
    transition: transform 1.5s ease;
    overflow: hidden;
}

.banner:hover {
    transform: scale(1.02);
}


.banner h2{
    
    display: none;
    
}

/* Texte commun à toutes les captions */
.caption {
    color: white;
    font-size: 3vw;
    letter-spacing: 0.5%;
    text-align: right;
    background-color: transparent;
    position: absolute;
}
 

/* Position bottom-left */
.bottom-left {
    bottom: 15%;
    left: 10%;
    text-align: left;
}

.bottom-right {
    bottom: 15%;
    right: 10%;
    text-align: right;
}

/* ========== ABOUT WEBSITE PAGE ========== */

/* creates the frames of 4 images */

    .square {
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding: 5%;
        margin: 0 auto 3rem;
        max-width: 90%;
    }


    /* border-top creates a line on top, border-bottom does the same on the bottom, and border-radius curves the edges */

    .square-img {
            width: 25rem;
            height: 15rem;
            object-fit: cover;
            align-items: center;
            border-top: 2rem solid #873174;
            border-bottom: 1.75rem solid #873174;
            border-radius: 0.75rem;
            display: block;
            margin-bottom: 2rem;
            max-width: 100%;
        }
        
        .news {
        
            display: flex;
            flex-direction: column;
            align-items: center;
        
        }

    .square h3{
        display: none;
    }

    .stars {
        max-height: fit-content;
        max-width: fit-content;
    }



    .aboutwebsite{
        text-align: center;
        background-image: url('images/dark_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(0.9) contrast(1);
        max-width: 100vw;
    }

    .aboutwebsite h2{
        margin-top: 5rem;
        margin-bottom: 3.125rem;

    }

    .aboutwebsite p{
        display: block;
        line-height: 2;
        max-width: 80rem;
        margin-bottom: auto;

    }   

    .aboutwebsite section{
        padding-top: 2.5em;
    }   


    .romance iframe {
        width: 30rem;
        height: 33.25rem;
        display: block;
        margin: 2rem auto;
        border-top-right-radius: 5%;
        border-bottom-left-radius: 5%;
        max-width: 90%;
        border:none;
    }

    .romance p {
        display: block;
        margin: 2rem auto;
        line-height: 2;
        max-width: 75rem;

    }

  
    .romance img {
        margin: 2rem auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
        max-width: 100%;

    }


    .fight .img-1{
        width: 25rem;
        height: 12.5rem;
        margin: 5% auto;
        border-bottom-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
        max-width: 90%;
        border: none;
    }

    .fight .img-2 {
        width: 1.5rem;
        height: 1.5rem;
        display: block;
        margin: 1.25rem auto;
    }

    .fight p {
        padding: 1.25rem;
    }

    /* ========== ABOUT US PAGE ========== */


    /* main */
    .aboutussection{

        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('images/dark_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(0.9) contrast(1);
        padding-top: 10%;
        padding-bottom: 20%;


    }

    .aboutussection h1{

        justify-self: center;
        font-size: 30px;

    }

    .aboutussection p{

        max-width: 80%;
        text-align: center;

    }
    /* presentation */

    .whoarewe {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5%;
    }
    .whoarewe h2{

        opacity: 0;

    }

    .whoarewe h3{

        opacity: 0;

    }

    .whoarewe img{

        max-width: 40%;
        max-height: 40%;
        min-width: 40%;
        min-height: 40%;

    }

    .whoarewe section:nth-child(odd){

        display: flex;
        align-items: center;
        padding-bottom: 10%;

    }

    .whoarewe section:nth-child(even){

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 15%;
        padding-bottom: 10%;
    }

    .thanku{

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%;

    }


    /* QUESTION FORM */


    .question-form {

        background: #823490;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        max-width: 70%;
        width: 100%;
        text-align: center;
        justify-self: center;
     
    }

    .question-form h2 {
        margin-bottom: 2%;
        font-weight: 400;
        color:  #333;
        border-radius: 10px;
        background-color: #CE87BB;
    }

    .question-form form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }

    .question-form label {
        margin-bottom: 5%;
        font-weight: bold;
        color: #fff;
        text-align: left;
    }

    .question-form .questionfield textarea{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 70%;
        height: 60%;

    }

    .question-form input,
    .question-form textarea {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        justify-self: center;
        resize: none;
    }


    .question-form button {
        padding: 10px 20px;
        background-color: #CE87BB;
        color: #333;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .question-form button:hover {
        background-color: #ffb7ec;
    }

    /* ========== GAMES ========== */

    .games{

    background-image: url('images/dark_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    display: flex;
    color: white !important;

    }

    .games h1{
        opacity: 0;
    }

    .games span {

        font-size: 40px;
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        color:#823490;
        padding: 10px 15px;     
        margin: 0 auto 15px;    
        line-height: 1.5;
        width: fit-content;
        display: block;
        text-align: center;
        max-width: 90%;
    }

    p span:last-child {

        margin-bottom: 2.6rem;

    }

    .games img[scr="../images/stars.png"]{

        content: url('../images/dark_stars.png');

    }
    .game_description {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        max-width: 80vw;
        text-align: center;
        font-size: 30vw;
        line-height: 1.6;
        color: #ffffff !important;
        margin-bottom: 5rem;

    }
    .games h2{
        margin-top: 50px;
        margin-bottom: 55px;
        font-size: 40px;
        text-align: center;
        background: linear-gradient(90deg, #8059ec, #823490);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .games p {
        max-width: 70vw;
        text-align: center;
        font-size: 17px;
        line-height: 1.6;
        color: #ffffff;
    }



    .ladsFeatures{

        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .carousel{

        display: flex;
        align-items: center;
        position: relative;
        width: 80vw;
        padding-right: 18vw;

    }
    
    .carousel h3{
       display: none;
    }

    .carousel ul {

        background-color: #823490;
        border-radius: 50px;
        padding: 5%;
        list-style: none;
        max-width: 60vw;
    }

    .card{

        display: none;

    }

    .card.active{

        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .carousel ul {

        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding-bottom: 2rem;
    }

    .card h4{

        font-weight: 700;
        color:#823490;
        font-size: 1rem;
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 10px 15px;     
        margin: 0rem auto 2.5rem;    
        line-height: 1.5;
        max-width: 20rem;

    }

    .card.active p{

        margin-top: 2.5rem;
        font-size: 1.25rem; 
    }

    .card img{

        border-radius: 40px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        max-width: 60vw;

    }

    .cbtn{

        border: none;
        font-size: 10vw;
        color:#ffffff;
        background-color: #ffffff00;
        cursor: pointer;
    }

    .cbtn:hover{

        color: #e09cec;

    }

/* COMMON TO ALL CHARACTERS */

.zaynePopup::after, .xavierPopup::after, .rafayelPopup::after, .sylusPopup::after, .calebPopup::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(
        to left, 
        rgba(255,255,255,0) 20%,
        rgba(255,255,255,1) 75%,
        rgba(255,255,255,1) 100%
    );
    pointer-events: none;
    z-index: 1;
}

.characters{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.close-btn {
    caret-color: transparent;
    position: absolute;
    top: 5%;
    left: 92%;
    border: none;
    border-radius: 20%;
    width: 5%;
    height: 7%;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 3;
}

.zaynepreview p, .xavierpreview p, .rafayelpreview p, .syluspreview p, .calebpreview p{
    margin: 0;
    font-size: 2.5rem;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    z-index: 1;
    color:#ffffff;
    font-family: "Luxurious Roman", serif;
    font-weight: 700;
}

.zaynepreview:hover img, .xavierpreview:hover img, .rafayelpreview:hover img, .syluspreview:hover img, .calebpreview:hover img{
    transform: scale(1.05);
    filter: brightness(120%);
}

/* CLASSES THAT ARE SPECIFIC TO ZAYNE */

.zaynePopup .divider-top{
    position: absolute;
    z-index: 2;
    width: 100px;
    margin-left: 25%;
    margin-top: 11.7%;
    filter: brightness(0) saturate(100%)
        invert(32%) sepia(22%)
        saturate(420%) hue-rotate(170deg);
}

.zaynePopup .divider-bottom{
    position: absolute;
    transform: rotate(180deg);
    z-index: 2;
    width: 150px;
    margin-left: 22.4%;
    bottom: 47.5%;
    filter: brightness(0) saturate(100%)
        invert(32%) sepia(22%)
        saturate(420%) hue-rotate(170deg);
}

.zaynePopup{
    border: none;
    padding: 0;
    background-image: url('images/zaynechr.webp');
    background-size: 120%;
    background-position: -50% 40%;
    background-repeat: no-repeat;
    width: 1000px;
    height: 650px;
    border-radius: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.zaynePopup .quote p{
    position: absolute;
    caret-color: transparent;
    z-index: 2;
    color: #000;
    max-width: 28rem;
    font-size: 1.3rem;
    margin-top: 3%;
    margin-left: 4%;
    background: linear-gradient(90deg, #b1f5fa, #355775);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.zaynepreview{
    border: none;
    background: none;
    cursor: pointer;
    margin-left: -0.55%;
    position: relative;
}

.zaynePopup h3 {
    font-size:3rem;
    caret-color: transparent;
    z-index: 2;
    position: absolute;
    margin-left: 22%;
    margin-top: 16.5%;
    color:#ffffff;
    font-family: "Luxurious Roman", serif;
    font-weight: 700;
    text-shadow:
    0 0 10px #fff,
    0 0 20px #0e96e5,
    0 0 50px #13405a;

}

.zaynepreview img {
    width: 250px;   
    height: 600px;  
    object-fit: cover; 
    object-position: 52% 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;

}

.zaynePopup .profession{
    font-size: 1rem;
    caret-color: transparent;
    font-weight: 700;
    color: #13405a;
    position: absolute;
    z-index: 2;
    margin-left: 21.5%;
    margin-top: 23%;
}

.zaynePopup .description{ 
    z-index: 2;
    position: absolute;
    font-size: 1rem;
    max-width: 29rem;
    margin-top: 30.5%;
    margin-left: 6%;
    color: #13405a;
    text-shadow: 0 0 10px #4f7d8452;
}

.zaynepreview:hover p{
    transform: translate(-50%, -50%) scale(1.1);
    text-shadow:
    0 0 10px #fff,
    0 0 15px #00ffff,
    0 0 30px #0e96e5;
}

/* CLASSES THAT ARE SPECIFIC TO XAVIER */

.xavierPopup .divider-top{
    position: absolute;
    z-index: 2;
    width: 100px;
    margin-left: 25%;
    margin-top: 11.7%;
    filter: brightness(10) saturate(100%)
        invert(70%) sepia(60%)
        saturate(300%) hue-rotate(20deg);
}

.xavierPopup .divider-bottom{
    position: absolute;
    transform: rotate(180deg);
    z-index: 2;
    width: 150px;
    margin-left: 22.4%;
    bottom: 47.5%;
    filter: brightness(10) saturate(100%)
        invert(70%) sepia(60%)
        saturate(300%) hue-rotate(20deg);
}

.xavierpreview img{
    width: 250px;   
    height: 600px;  
    object-fit: cover; 
    object-position: 65% 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;

}

.xavierPopup{
    border: none;
    padding: 0;
    background-image: url('images/xavierchr.webp');
    background-size: 120%;
    background-position: -50% 40%;
    background-repeat: no-repeat;
    width: 1000px;
    height: 650px;
    border-radius: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.xavierpreview{
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 0%;
    position: relative;
}

.xavierPopup .quote p{
    position: absolute;
    caret-color: transparent;
    z-index: 2;
    color: #000;
    max-width: 28rem;
    font-size: 1.9rem;
    margin-top: 3%;
    margin-left: 4%;
    background: linear-gradient(90deg, #e6e47a, #79771a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.xavierPopup h3 {
    font-size:3rem;
    caret-color: transparent;
    z-index: 2;
    position: absolute;
    margin-left: 21%;
    margin-top: 16.5%;
    color:#ffffff;
    font-family: "Luxurious Roman", serif;
    font-weight: 700;
    text-shadow:
    0 0 10px #fff,
    0 0 20px #cccb77,
    0 0 50px #79771a;

}

.xavierPopup .profession{
    font-size: 1rem;
    caret-color: transparent;
    font-weight: 700;
    color: #79771a;
    position: absolute;
    z-index: 2;
    margin-left: 21.5%;
    margin-top: 23%;
}

.xavierPopup .description{ 
    z-index: 2;
    position: absolute;
    font-size: 1rem;
    max-width: 29rem;
    margin-top: 31%;
    margin-left: 6%;
    color: #8b8a2c;
    text-shadow: 0 0 10px #70702194;
}

.xavierpreview:hover p{
    transform: translate(-50%, -50%) scale(1.1);
    text-shadow:
    0 0 10px #fff,
    0 0 15px #faf9b1,
    0 0 30px #ccca43;
}

/* CLASSES THAT ARE SPECIFIC TO RAFAYEL */

.rafayelPopup .divider-top{
    position: absolute;
    z-index: 2;
    width: 100px;
    margin-left: 25%;
    margin-top: 11.7%;
    filter: brightness(1.1)
        invert(45%)
        sepia(80%)
        saturate(300%)
        hue-rotate(300deg);
}

.rafayelPopup .divider-bottom{
    position: absolute;
    transform: rotate(180deg);
    z-index: 2;
    width: 150px;
    margin-left: 22.4%;
    bottom: 47.5%;
    filter: brightness(1.1)
        invert(65%)
        sepia(35%)
        saturate(160%)
        hue-rotate(200deg);
}

.rafayelpreview img{
    width: 250px;   
    height: 600px;  
    object-fit: cover; 
    object-position: 47% 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;

}

.rafayelPopup{
    border: none;
    padding: 0;
    background-image: url('images/rafayelchr.webp');
    background-size: 120%;
    background-position: -80% 40%;
    background-repeat: no-repeat;
    width: 1000px;
    height: 650px;
    border-radius: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.rafayelpreview{
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 0%;
    position: relative;
}

.rafayelPopup .quote p{
    position: absolute;
    caret-color: transparent;
    z-index: 2;
    color: #000;
    max-width: 30rem;
    font-size: 1.4rem;
    margin-top: 5%;
    margin-left: 2%;
    background: linear-gradient(90deg, #e96990, #225a8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rafayelPopup h3 {
    font-size:3rem;
    caret-color: transparent;
    z-index: 2;
    position: absolute;
    margin-left: 19.5%;
    margin-top: 16.5%;
    color:#ffffff;
    font-family: "Luxurious Roman", serif;
    font-weight: 700;
    text-shadow:
    0 0 10px #fff,
    0 0 20px #f19faa,
    0 0 50px #8d333f;

}

.rafayelPopup .profession{
    font-size: 1rem;
    caret-color: transparent;
    font-weight: 700;
    color: #a0687f;
    position: absolute;
    z-index: 2;
    margin-left: 27.2%;
    margin-top: 23%;
}

.rafayelPopup .description{ 
    z-index: 2;
    position: absolute;
    font-size: 1rem;
    max-width: 29rem;
    margin-top: 31.5%;
    margin-left: 6%;
    color: #4b678b;
    text-shadow: 0 0 10px #39429291;
}

.rafayelpreview:hover p{
    transform: translate(-50%, -50%) scale(1.1);
    text-shadow:
    0 0 10px #8d333f,
    0 0 15px #e0526a,
    0 0 30px #e0526a;
}

/* CLASSES THAT ARE SPECIFIC TO SYLUS */

.sylusPopup .divider-top{
    position: absolute;
    z-index: 2;
    width: 100px;
    margin-left: 25%;
    margin-top: 11.7%;
    filter: brightness(1.1)
        invert(20%)
        sepia(100%)
        saturate(500%)
        hue-rotate(300deg);
}

.sylusPopup .divider-bottom{
    position: absolute;
    transform: rotate(180deg);
    z-index: 2;
    width: 150px;
    margin-left: 22.4%;
    bottom: 47.5%;
    filter: brightness(1.1)
        invert(20%)
        sepia(100%)
        saturate(500%)
        hue-rotate(300deg);
}

.syluspreview img{
    width: 250px;   
    height: 600px;  
    object-fit: cover; 
    object-position: 52% 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;

}

.sylusPopup{
    border: none;
    padding: 0;
    background-image: url('images/syluschr.webp');
    background-size: 120%;
    background-position: -80% 40%;
    background-repeat: no-repeat;
    width: 1000px;
    height: 650px;
    border-radius: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.syluspreview{
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 0%;
    position: relative;
}

.sylusPopup .quote p{
    position: absolute;
    caret-color: transparent;
    z-index: 2;
    color: #000;
    max-width: 30rem;
    font-size: 1.4rem;
    margin-top: 5%;
    margin-left: 2%;
    background: linear-gradient(90deg, #ff6c6c, #7c1111);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sylusPopup h3 {
    font-size:3rem;
    caret-color: transparent;
    z-index: 2;
    position: absolute;
    margin-left: 22%;
    margin-top: 16.5%;
    color:#ffffff;
    font-family: "Luxurious Roman", serif;
    font-weight: 700;
    text-shadow:
    0 0 10px #ffffff,
    0 0 20px #bb707a,
    0 0 50px #d30c27;

}

.sylusPopup .profession{
    font-size: 1rem;
    caret-color: transparent;
    font-weight: 700;
    color: #a0687f;
    position: absolute;
    z-index: 2;
    margin-left: 20.5%;
    margin-top: 23%;
}

.sylusPopup .description{ 
    z-index: 2;
    position: absolute;
    font-size: 1rem;
    max-width: 31rem;
    margin-top: 31%;
    margin-left: 6%;
    color: #830a0a;
    text-shadow: 0 0 10px #75020291;
}

.syluspreview:hover p{
    transform: translate(-50%, -50%) scale(1.1);
    text-shadow:
    0 0 10px #ffffff,
    0 0 15px #e0526a,
    0 0 30px #e0526a;
}

/* CLASSES THAT ARE SPECIFIC TO CALEB */

.calebPopup .divider-top{
    position: absolute;
    z-index: 2;
    width: 100px;
    margin-left: 25%;
    margin-top: 11.7%;
}

.calebPopup .divider-bottom{
    position: absolute;
    transform: rotate(180deg);
    z-index: 2;
    width: 150px;
    margin-left: 22.4%;
    bottom: 47.5%;
}

.calebpreview img{
    width: 250px;   
    height: 600px;  
    object-fit: cover; 
    object-position: 59% 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;

}

.calebPopup{
    border: none;
    padding: 0;
    background-image: url('images/calebchr.webp');
    background-size: 120%;
    background-position: -80% 40%;
    background-repeat: no-repeat;
    width: 1000px;
    height: 650px;
    border-radius: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.calebpreview{
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 0%;
    position: relative;
}

.calebPopup .quote p{
    position: absolute;
    caret-color: transparent;
    z-index: 2;
    color: #000;
    max-width: 30rem;
    font-size: 1.9rem;
    margin-top: 3.5%;
    margin-left: 2%;
    background: linear-gradient(90deg, #ece5e5, #3b3b3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.calebPopup h3 {
    font-size:3rem;
    caret-color: transparent;
    z-index: 2;
    position: absolute;
    margin-left: 22%;
    margin-top: 16.5%;
    color:#ffffff;
    font-family: "Luxurious Roman", serif;
    font-weight: 700;
    text-shadow:
    0 0 10px #fff,
    0 0 20px #d1caca,
    0 0 50px #3b3b3b;

}

.calebPopup .profession{
    font-size: 1rem;
    caret-color: transparent;
    font-weight: 700;
    color: #3b3b3b;
    position: absolute;
    z-index: 2;
    margin-left: 20.5%;
    margin-top: 23%;
}

.calebPopup .description{ 
    z-index: 2;
    position: absolute;
    font-size: 1rem;
    max-width: 29rem;
    margin-top: 31%;
    margin-left: 6%;
    color: #3b3b3b;
    text-shadow: 0 0 10px #3b3b3b;
}

.calebpreview:hover p{
    transform: translate(-50%, -50%) scale(1.1);
    text-shadow:
    0 0 10px #ffffff,
    0 0 15px #d1caca,
    0 0 30px #3b3b3b;
}

/* ART SECTION */

.artQuote {
    margin-bottom: 5rem;
    font-size: 1.7rem;
    color: #ffffff;

}

/*TRAILER SECTION*/

.trailer iframe {
    width: 80vw;
    height: 45vw;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 5rem;
}

/* GALLERY */

.galleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.column1, .column2 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.column1 img, .column2 img {

    max-width: 80vw;
    max-height: 45vw;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

    /* ========== FOOTER ========== */

    footer {
        padding-top: 36px;
        background-color:rgb(0, 0, 0);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index:0;
        position: relative;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
        width: 100%;
        opacity: 0.7;
    }


    footer a {

        color: rgb(255, 255, 255);
        text-decoration: none;
        padding-top: 1%;
        padding-bottom: 1%;
        opacity: 1;
        max-width: 80vw;
    }


    footer a:hover {
        color: #873174;
    }

    footer p{

        padding-top: 1%;
        opacity: 1;
        max-width: 80vw;
    }

    footer img{

        max-height: fit-content;
        max-width: fit-content;

    }

    .questions {

        padding-bottom: 2%;
        opacity: 1;
    }

    .faboutus {

        padding-bottom: 5%;
        opacity: 1;

    }

    
}

/* ========== TABLET ========== */

@media (min-width : 451px) and  (max-width : 1024px) {
    body,
    .navbar button {
        margin: 0;
        padding: 0;
        font-family: "Julius Sans One";
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        font-size: 15px;
    }

    /* styling go to the top of page button */

    #topButton {
        display: none;
        position: fixed;
        bottom: 10%;
        right: 2%;
        font-size: 200%;
        z-index: 99;
        border: none;
        background: none;
        color: #8059ec;
        opacity: 1;
    }

    #topButton:hover {
        color: #a791f7;
    }

    main {
        width: 100%;
        padding: 0px;
        padding-bottom: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 200px);
        overflow: hidden;
        
    }

    /* ========== HEADER ========== */

    header {
        padding: 0.02rem;
        position: relative;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        opacity: 0.7;
        z-index:1;
        background-color: #000000;
    }

    header h1 {

        display: none ;

    }

    .theme_btns{

        display: none;
         
    }

    #menu_icon{

        display: none;

    }

    /* styling the navigation bar */

    .navbar {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 3%;
    }

    /* removing the underlines of the links in .navbar and setting the text color to black */

    .navbar a {
        color: rgb(255, 255, 255);       
        text-decoration: none;
    }

    /* styles the links in the class .navbar so they change colors when hovering over them */

    .navbar > li:first-child {                              
        margin-right: auto;
        margin-left: 30px;
    }


    .navbar #dark_button button{

        border : none ;
        font-size: 200%;
        color: #873174;
        background-color: #000000 ;
    }

    .navbar #dark_button button:hover{

        color: #a15f93;

    }

    .navbar #light_button{

        display: none;

    }


    /* styling the games button*/

    .dropdown button {
        border: none;
        cursor: pointer;
        background: none;
        color: #ffffff;

    }

    .dropdown button:hover {
        color: #ffffff;
    }

    /* styling the dropdown frame, adding display: none; so the dropdown will only be visible when hovering over games */

    .dropdown ul {
        position: absolute;
        display: none;
        background-color:rgb(0, 0, 0);
        width:218px;
        padding:0;
        margin:0;
        list-style:none;
        z-index:1;
        font-size: 17px;
    }

    .dropdown:hover ul {
        display: block;
    }

    /* styling the elements inside of the dropdown */

    .dropdown a {
        padding:8px 12px;
        margin:0px;
        display:block;
        white-space: nowrap;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

    .dropdown a:hover {
        color:#ffffff;
        background-color: #873174;
    }


    /* adding padding to the first element of the dropdown for more clarity */

    .dropdown li:first-child {
    padding-top: 20px;
    }

    /* adding a tiny animation that occurs when loading the page */

    .navbar li {
        padding: 0 0.5em 0.25em;
        cursor: pointer;
        position: relative;
        transition: 0.3s;
    }

    /* Texte commun à toutes les captions */
    .caption {
        color: white;
        font-size: 1.5vw;
        letter-spacing: 0.05rem;
        text-align: right;
        background-color: transparent;
        position: absolute;
    }
     

    /* Position bottom-left */
    .bottom-left {
        bottom: 10%;
        left: 5%;
        text-align: left;
    }

    .bottom-right {
        bottom: 10%;
        right: 5%;
        text-align: right;
    }


    /* ========== ABOUT WEBSITE PAGE ========== */

    /* creates the frames of 4 images */
    .square {
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding: 5%;
        margin: 0 auto 3rem;
        max-width: 90%;
    }

    .square-img {
            width: 32.25rem;
            height: 19.25rem;
            object-fit: cover;
            align-items: center;
            border-top: 2rem solid #873174;
            border-bottom: 1.75rem solid #873174;
            border-radius: 0.75rem;
            display: block;
            margin-bottom: 2rem;
            max-width: 100%;
        }
        
        .news {
        
            display: flex;
            flex-direction: column;
            align-items: center;
        
        }

    .square h3{
        display: none;
    }

    .stars {
        max-height: fit-content;
        max-width: fit-content;
    }


    main {
        text-align: center;
        background-image: url('images/dark_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(0.9) contrast(1);
        max-width: 100vw;
        color: white;
    }

    .aboutwebsite{
        text-align: center;
        background-image: url('images/dark_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(0.9) contrast(1);
        max-width: 100vw;
        color: white;
    }

    .aboutwebsite h2{
        margin-top: 5rem;
        margin-bottom: 3.125rem;

    }

    .aboutwebsite p{
        display: block;
        line-height: 2;
        max-width: 80rem;
        margin-bottom: auto;

    }   

    .aboutwebsite section{
        padding-top: 2.5em;
    }   


    .romance iframe {
        width: 27rem;
        height: 44rem;
        display: block;
        margin: 2rem auto;
        border-top-right-radius: 5%;
        border-bottom-left-radius: 5%;
        max-width: 90%;
        border:none;
    }

    .romance p {
        display: block;
        margin: 2rem auto;
        line-height: 2;
        max-width: 75rem;

    }

  
    .romance img {
        margin: 2rem auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
        max-width: 100%;

    }


    .fight .img-1{
        width: 32.25rem;
        height: 20rem;
        margin: 5% auto;
        border-bottom-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
        max-width: 90%;
        border: none;
    }

    .fight .img-2 {
        width: 1.5rem;
        height: 1.5rem;
        display: block;
        margin: 1.25rem auto;
    }

    .fight p {
        padding: 1.25rem;
    }



    /* ========== FOOTER ========== */

    footer {
    padding-top: 36px;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:0;
    position: relative;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
    color: white;
}


footer a {
    color: white;
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 1%;
}


footer a:hover {
    color: #873174;
}

footer p{

    padding-top: 1%;
}

footer img{

    max-height: fit-content;
    max-width: fit-content;

}

}